{% extends 'base.html' %}

{% block content %}
<p><a href="../">Back</a> </p>
<h1><b>{{ object.Name }}</b></h1>
<p><b>Country: </b>{{ object.Country }}</p>
<p><b>City: </b>{{ object.City }}</p>
<p><b>Postal Code:</b> {{ object.PostalCode }}</p>
<p><b>Street: </b>{{ object.Street }}
{{ object.HouseNumber }}</p>
<p><b>e-mail: </b>{{ object.Email }}</p>
<p><b>Company start date: </b>{{ object.StartDate }}</p>
<hr/>
<p><a href="update">Update |</a>
<a href="delete">| Delete |</a>
<a href="vehicles">| Fleet</a></p>

{% endblock %}