
{% extends 'base.html' %}

{% block content %}

<a href="../">Home</a> <br/>
<a href="create">Create</a>
<hr/>

{% if user.carrier_set.all.exists %}
{% for instance in object_list %}
    <h4><ul><b><a href="{{ instance.get_absolute_url }}">{{ instance.Name }}</a></b></ul></h4>
{% endfor %}

{% else %}
<p class="lead">There are no carrier name {{ user.username }}</p>
{% endif %}

{% endblock %}