{% extends "base.html" %}

{% block head_title %}{{ user.username }}|{{ block.super }}{% endblock head_title %}

{% block content %}
<h1>{{ user.username }}</h1>
<hr/>
{% if user.fleet_set.all.exists %}

{% for carriers in user.carrier_set.all %}
<li><b>{{ carriers.Name }}</b> | {{ carriers.Country }} | {{ carriers.City }}<br/>
	Postal Code: {{ carriers.PostalCode }}<br/>
	Street: {{ carriers.Street }} {{ carriers.HouseNumber }}<br/>
	e-mail: {{ carriers.Email }}<br/>
	Start Date: {{ carriers.StartDate }}
	<hr/>
	<p>
		
	</p>

	<p>
		<b>Trucks:</b>
	<ul>
		{% for vehicles in user.fleet_set.all %}
		<li style='margin-bottom: 15px;'>{{ vehicles.register }} | {{ vehicles.make }} | {{ vehicles.model }}{{ vehicles.power }}<br/>

		<span style=' margin-right:4px; background-color:#ccc'>length: {{ vehicles.length }}cm<br/> width:
		{{ vehicles.width }}cm <br/>high: {{ vehicles.high }}cm <br/>capacity: {{ vehicles.capacity }}kg </span>
			
		</li>
		{% endfor %}
	</ul>
	</p>
</li>

{% endfor %}

{% else %}
<p class="lead">No Trucks Found</p>
{% endif %}

{% endblock %}