{% extends 'base.html' %}

{% block content %}
<p> <a href="../">Back</a> </p>
<hr/>
<h3><b>Country: </b>{{ object.country }}</h3>
<h3><b>City: </b>{{ object.city }}</h3>
<p><b>Postal Code: </b>{{ object.postalcode }}</p>
<p><b>Street: </b>{{ object.street }} {{ object.housenumber }}</p>


{% endblock %}