{% extends 'base.html' %}

{% block content %}
<p> <a href="../">Back</a> </p>
<hr/>
<h1>{{ object.name }}</h1>
<h2>{{ object.city }}</h2>
<p>Postal Code: {{ object.postalcode }}</p>
<p>Street: {{ object.street }}</p>
<p>E-mail: {{ object.email }}</p>
<h2>Description: {{ object.description }}</h2>
<hr/>
<h3><b><a href="loadings">Cargo</a> </b></h2>
<hr/>
<p> <a href="update">Update |</a>
<a href="delete">| Delete</a> </p>
{% endblock %}