
{% extends 'base.html' %}

{% block content %}

<p> <a href="../">Home</a> </p>

<p> <a href="create">Create</a> </p>

<hr/>

{% if user.sendermodel_set.all.exists %}
{% for instance in object_list %}
    <h4><ul><b><a href="{{ instance.get_absolute_url }}">{{ instance.name }}</a></b></ul></h4>
{% endfor %}
{% else %}
<p class="lead">There are no senders name {{ user.username }}</p>
{% endif %}

{% endblock %}