
{% extends 'base.html' %}

{% block content %}

<form action="." method="post">{% csrf_token %}
    <h1>Are you sure you want to delete"{{ object.name }}?"</h1>
    <p><input type="submit" value="Yes"/> <a href="../">Cancel</a> </p>
</form>

{% endblock %}