
{% extends 'base.html' %}

{% block content %}

<form action="." method="post">{% csrf_token %}
    <h1>Do you want to delete this vehicle from your fleet list? "{{ object.Name }}?"</h1>
    <p><input type="submit" value="Yes"/> <a href="../">Cancel</a> </p>
</form>

{% endblock %}