{% extends 'base.html' %}

{% block content %}
<a href="../">Back</a> <br/>
<a href="{{ object.location_id }}">Location</a>
<hr/>
<h1>{{ object.make }} {{ object.model }} || {{ object.register }}</h2>
<h2><b>{{ object.carriers }}</b></h2>
<p><b>POWER: </b>{{ object.power }}KM</p>
<p><b>LENGTH: </b>{{ object.length }}cm</p>
<p><b>WIDTH: </b>{{ object.width }}cm</p>
<p><b>HIGH: </b>{{ object.high }}cm</p>
<p><b>CAPACITY: </b>{{ object.capacity }}kg</p>
<h2><b>TYPE: </b>{{ object.types }}</h2>
<hr/>
<p> <a href="update">Update |</a>
<a href="../add">| Add another |</a>
<a href="delete">| Delete</a> </p>

{% endblock %}