
{% extends 'base.html' %}

{% block content %}

<a href="../">Back</a> <br/>
<p> <a href="add">Add</a>
<hr/>

{% for instance in object_list %}
    <h4><ul><a href="{{ instance.register }}">{{ instance.register }} {{ instance.make }} {{ instance.model }}</a></ul></h4>
{% endfor %}



{% endblock %}