{% extends 'base.html' %}

{% block content %}

<p> <a href="../">Back</a> </p>
<h1>Enter location</h1>
<form action="." method="post">{% csrf_token %}
{{form.as_p}}
<input type="submit" value="Save">
</form>

{% endblock %}
