{% extends 'base.html' %}

{% block content %}
<p> <a href="../">Back</a> </p>
<h3>{{ object.country }}</h3>
<h3>{{ object.city }}</h3>
<p>{{ object.postalcode }}</p>
<p>{{ object.street }}</p>


{% endblock %}