
{% extends 'base.html' %}

{% block content %}

<p> <a href="../">Back</a> </p>

<p> <a href="add">Add</a> </p>

{% for instance in object_list %}
    <h3><li><a href="{{ instance.id }}">{{ instance.country }} {{ instance.city }} {{ instance.street }}</a></li></h3>
{% endfor %}



{% endblock %}