{% extends 'base.html' %}

{% block content %}
<p> <a href="../">Back </a> <a href="result"><b> |Find Transport|</b></a></p>
<hr/>
<h1>{{ object.title }}</h1>
<h2>{{ object.type }}</h2>
<h5><b>Pick date:</b> <small>{{ object.pick_date }}</small></h5>
<h5><b>Delivery date:</b> <small>{{ object.delivery_date }}</small></h5>
<hr/>
<p><b>Length: </b>{{ object.length }}cm</p>
<p><b>Width: </b>{{ object.width }}cm</p>
<p><b>High: </b>{{ object.high }}cm</p>
<p><b>Weight: </b>{{ object.weight }}kg</p>
<p><b>Description: </b>{{ object.description }}</p>
<hr/>
<h5><b>Pick: </b> <small>{{ object.pick }}</small></h5>
<h5><b>Destination: </b> <small>{{ object.destination }}</small></h5>
<hr/>
<p> <a href="update">Update |</a><a href="../add">| Add another |</a><a href="delete">| Delete</a> </p>

{% endblock %}