
{% extends 'base.html' %}

{% block content %}

<p> <a href="../">Back |</a> <a href="add">| Add</a> </p>
<hr/>
{% if user.loadingsmodel_set.all.exists %}
{% for instance in object_list %}
    <h3><ul><a href="{{ instance.id }}">{{ instance.title }} {{ instance.type }}</a></ul></h3>
{% endfor %}

{% else %}
<p class="lead">Loadings queryset is empty</p>
{% endif %}

{% endblock %}