{% extends 'base.html' %}

{% block content %}

<p> <a href="../">Back</a> </p>
<hr/>
<h3><b>Enter your load</b></h1>
<hr/>
<p><a href="create pick">Add pick address |</a><a href="create destination">| Add destination address</a></p>
<form action="." method="post">{% csrf_token %}
	<hr/>
{{ form.as_p }}
<hr/>
<input type="submit" value="Save">
</form>

{% endblock %}
