{% extends 'base.html' %}

{% block content %}

<h1>Enter your load</h1>
<!-- <p><a href="create pick">Add pick address</a> </p>
<p><a href="create destination">Add destination address</a> </p> -->
<form method="post">{% csrf_token %}
{{form.as_p}}
<input type="submit" value="Add">
</form>

{% endblock %}

