{% extends 'base.html' %}

{% block content %}
<p><a href="../">Back</a> </p>
<h1><b>{{ object.Name }}</b></h1>
<p>Country: {{ object.Country }}</p>
<p>City: {{ object.City }}</p>
<p>Postal Code: {{ object.PostalCode }}</p>
<p>Street: {{ object.Street }}
{{ object.HouseNumber }}</p>
<p>e-mail: {{ object.Email }}</p>
<p>Start Date: {{ object.StartDate }}</p>


{% endblock %}