
{% extends 'base.html' %}

{% block content %}

<p> <a href="../">Back |</a>
<hr/>
<ul>
{% for instance in object_list %}
    <h4><ul><a href="{{ instance.register }}">{{ instance.register }} {{ instance.make }} {{ instance.model }}</a></ul></h4>
{% empty %}
	<p class="lead">There are no trucks in this location</p>
{% endfor %}
</ul>

{% endblock %}