{% extends 'base.html' %}

{% block content %}
<p> <a href="../">Back |</a> <a href="{{ object.location_id }}">| Location</a> </p>
<hr/>
<h2>{{ object.make }} {{ object.model }} | {{ object.register }}</h2>
<hr/>
<h2><b><a href='{% url "profiles:profile-detail" username=object.user %}'>{{ object.user }}</a></b></h2>
<p><b>POWER: </b>{{ object.power }}KM</p>
<p><b>LENGTH: </b>{{ object.length }}cm</p>
<p><b>WIDTH: </b>{{ object.width }}cm</p>
<p><b>HIGH: </b>{{ object.high }}cm</p>
<p><b>CAPACITY: </b>{{ object.capacity }}kg</p>
<h2><b>TYPE: </b>{{ object.types }}</h2>

{% endblock %}